@model CCMEMOMASTER


<link href="~/Content/CustomeTheme/pages/fileinput.min.css" rel="stylesheet" />
<script src="~/Scripts/CustomeJS/fileinput.min.js"></script>
<script>
    /* Initialize your widget via javascript as follows */
    $(document).ready(function () {

        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");

        $("form").validate().settings.ignore = "";

        $("#ctrlFile").fileinput({
            previewFileType: "image",
            showUpload: false,
            browseClass: "btn btn-success",
            browseIcon: '<i class="fa fa-plus"></i>',
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: '<i class="glyphicon glyphicon-trash"></i>'
        });
        $("#txtAcNo").blur(function () {
            var acNo = $("#txtAcNo").val();
            var cardNo = $("#txtCardNo").val();
            
            //$('#stackModDetailInfo').modal('show');
            if (acNo != '' || cardNo != '') {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '@Url.Action("GetCustomerReqHistoryCount","CRM")',
                    dataType: 'json',
                    data: { "acNo": acNo, "cardNo": cardNo },
                    success: function (data) {
                        //alert(data);
                        if (data.custReqhis != 0 || data.custReqhis != '') {
                            $("#historyCount").text(data);
                            $("#btnCustHistory").removeClass('disabled');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load Information');
                    }
                });
                $("#CustReqHistory").empty();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("GetCustomerReqHistoryList","CRM")',

                    data: { "acNo": acNo, "cardNo": cardNo },
                    dataType: 'html',
                    success: function (data) {
                        $('#CustReqHistory').html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load Information');
                    }
                });
            }
        });

        $("#txtCardNo").blur(function () {
            var acNo = $("#txtAcNo").val();
            var cardNo = $("#txtCardNo").val();

            //$('#stackModDetailInfo').modal('show');
            if (acNo != '' || cardNo != '') {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '@Url.Action("GetCustomerReqHistoryCount","CRM")',
                    dataType: 'json',
                    data: { "acNo": acNo, "cardNo": cardNo },
                    success: function (data) {
                        //alert(data);
                        if (data.custReqhis != 0 || data.custReqhis != '') {
                            $("#historyCount").text(data);
                            $("#btnCustHistory").removeClass('disabled');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load Information');
                    }
                });
                $("#CustReqHistory").empty();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("GetCustomerReqHistoryList","CRM")',

                    data: { "acNo": acNo, "cardNo": cardNo },
                    dataType: 'html',
                    success: function (data) {
                        $('#CustReqHistory').html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to load Information');
                    }
                });
            }
        });
        $("#ddlCallCatagory").change(function () {
            $("#ddlCallType").empty();
            var selectedValue = $("#ddlCallCatagory").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCallType", "CRM")',
                dataType: 'json',
                data: { id: selectedValue },
                success: function (states) {
                    
                    $.each(states, function (i, state) {
                        $("#ddlCallType").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    $("#ddlCallType").append('<option value="">Select Call Type</option>');
                    alert('Failed to retrieve Call Type.' + ex);
                }
            });
        });
        $(".rbMemoType").change(function () {
            $("#ddlAction").empty();
            var selectedValue = $("input[type='radio'][name='MEMOTYPE']:checked").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetActionByMemoType", "CRM")',
                dataType: 'json',
                data: { id: selectedValue },
                success: function (states) {
                    $("#ddlAction").append('<option value="">Select</option>');
                    $.each(states, function (i, state) {
                        $("#ddlAction").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    $("#ddlAction").append('<option value="">Select</option>');
                    alert('Failed to retrieve Group.' + ex);
                }
            });
        });

        $("#ddlAction").change(function () {
            $("#ddlAsgnGroup").empty();
            var selectedValue = $("#ddlAction").val();
            var selectedMType = $("input[type='radio'][name='MEMOTYPE']:checked").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetGroupByAction", "CRM")',
                dataType: 'json',
                data: { ActionId: selectedValue, MemoTypeId : selectedMType },
                success: function (states) {
                    //$("#ddlAsgnGroup").append('<option value="">Select</option>');
                    
                    $.each(states, function (i, state) {
                        $("#ddlAsgnGroup").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    $("#ddlAsgnGroup").append('<option value="">Select</option>');
                    alert('Failed to retrieve Group.' + ex);
                }
            });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStatusByAction", "CRM")',
                dataType: 'json',
                data: { id: selectedValue },
                success: function (data) {
                    if (data == "0") {
                        $("input[name='ISOPEN'][value='false']").prop('checked', true);
                    }
                    else
                        $("input[name='ISOPEN'][value='true']").prop('checked', true);
                },
                error: function (ex) {
                    alert('Failed to retrieve Status.' + ex);
                }
            });
        });
    });
</script>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("SubmitMemo", "CRM", FormMethod.Post, new { @class = "form-horizental", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div id="hdnDiv" style="display: none;">
                @Html.HiddenFor(m => m.ID);
                @Html.HiddenFor(m => m.ISACTIVE);
                @Html.HiddenFor(m => m.TICKETNO);
                @Html.HiddenFor(m => m.CREATEDBY);
                @Html.HiddenFor(m => m.CREATEDON);
                @Html.HiddenFor(m => m.MODIFIEDBY);
                @Html.HiddenFor(m => m.MODIFIEDON);
            </div>
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>CRM Form
                    </div>
                    <div class="actions btn-set">
                        <button class="btn green" type="submit"><i class="fa fa-check"></i>Save</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="note note-info">
                        <div class="col-sm-3">
                            <h4><span class="fa  fa-ticket"></span>Ticket No : <b>@Model.TICKETNO</b></h4>
                        </div>
                        <a class="btn btn-default" id="btnCustHistory" data-toggle="modal" href="#stackModDetailInfo">
                            Customer Request History <span class="badge badge-success" id="historyCount">0</span>
                        </a>
                    </div>
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_info" data-toggle="tab">Information </a>
                            </li>
                            <li>
                                <a href="#tab_attach" data-toggle="tab"><i class=" icon-paper-clip"></i> Attachment <span class="badge badge-success">@Model.CCMEMOATTACHMENTs.Count </span></a>
                            </li>
                            @*<li>
                                <a href="#tab_history" data-toggle="tab">History </a>
                                </li>*@

                        </ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_info">
                                <div class="form-body">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            <label class="control-label">Memo Type</label>
                                                        </td>
                                                        <td>
                                                            <label class="control-label">Priority</label>
                                                        </td>
                                                        <td>
                                                            <label class="control-label">Status</label>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        @foreach (var mType in ViewBag.MemoTypeList as IEnumerable<SelectListItem>)
                                                        {
                                                            <label class="radio-inline">
                                                                <span>
                                                                    @Html.RadioButtonFor(m => m.MEMOTYPE, mType.Value, new { @class = "rbMemoType", name = "rbMemoType" })
                                                                </span>
                                                                @mType.Text
                                                            </label>
                                                        }
                                                        @Html.ValidationMessageFor(m => m.MEMOTYPE, null, new { @class = "alert alert-danger display" })

                                                    </td>
                                                    <td>
                                                        @foreach (var mType in ViewBag.PriorityList as IEnumerable<SelectListItem>)
                                                        {
                                                            <label class="radio-inline">
                                                                <span>
                                                                    @Html.RadioButtonFor(m => m.PRIORITY, mType.Value)
                                                                </span>
                                                                @mType.Text
                                                            </label>
                                                        }
                                                        @Html.ValidationMessageFor(m => m.PRIORITY, null, new { @class = "alert alert-danger display" })
                                                    </td>
                                                    <td>
                                                        @foreach (var mType in ViewBag.StatusList as IEnumerable<SelectListItem>)
                                                        {
                                                            <label class="radio-inline">
                                                                <span>
                                                                    @Html.RadioButtonFor(m => m.ISOPEN, mType.Value)
                                                                </span>
                                                                @mType.Text
                                                            </label>
                                                        }
                                                        @Html.ValidationMessageFor(m => m.ISOPEN, null, new { @class = "alert alert-danger display" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-body">
                                            @*<div class="note note-success">
                                                <span class="fa  fa-ticket"></span><b>Customer Info</b>
                                                </div>*@
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Customer Name</label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(m => m.CUSTOMERNAME, new { @class = "form-control", placeholder = "Enter Customer Name" })
                                                    @Html.ValidationMessageFor(m => m.CUSTOMERNAME, null, new { @class = "alert alert-danger display" })
                                                </div>
                                                <label class="col-md-2 control-label">Contact No</label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(m => m.CUSTOMERCONTACT, new { @class = "form-control", placeholder = "Enter Customer Contact or Email" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">A/C No</label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(m => m.CUSTACNO, new { @class = "form-control", id = "txtAcNo", placeholder = "Enter Account No" })
                                                    @Html.ValidationMessageFor(m => m.CUSTACNO, null, new { @class = "alert alert-danger display" })
                                                </div>
                                                <label class="col-md-2 control-label">Card No</label>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(m => m.CUSTCARDNO, new { @class = "form-control", id = "txtCardNo", placeholder = "Enter Card No" })
                                                    @Html.ValidationMessageFor(m => m.CUSTCARDNO, null, new { @class = "alert alert-danger display" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Request Details</label>
                                                <div class="col-md-10">
                                                    @Html.TextAreaFor(m => m.REQUESTDETAILS, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            @*<div class="note note-success">
                                                <span class="fa  fa-ticket"></span><b>Details</b>
                                                </div>*@
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Call Catagory</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.CALLCATEGORY, (IEnumerable<SelectListItem>)ViewBag.CallCatagoryList, "Select", new { @class = "form-control", id = "ddlCallCatagory" })
                                                    @Html.ValidationMessageFor(m => m.CALLCATEGORY, null, new { @class = "alert alert-danger display" })
                                                </div>
                                                <label class="col-md-2 control-label">Call Types</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.CALLTYPE, new SelectList(string.Empty, "Value", "Text"), "Select", new { @class = "form-control", id = "ddlCallType" })
                                                    @Html.ValidationMessageFor(m => m.CALLTYPE, null, new { @class = "alert alert-danger display" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Source Type</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.SOURCETYPE, (IEnumerable<SelectListItem>)ViewBag.SourceList, "Select", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.SOURCETYPE, null, new { @class = "alert alert-danger display" })
                                                </div>
                                                <label class="col-md-2 control-label">Product Type</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.PRODUCTTYPE, (IEnumerable<SelectListItem>)ViewBag.ProductList, "Select", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.PRODUCTTYPE, null, new { @class = "alert alert-danger display" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Action </label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.LASTACTIONTYPE, (IEnumerable<SelectListItem>)ViewBag.ActionList, "Select", new { @class = "form-control", id = "ddlAction" })
                                                    @Html.ValidationMessageFor(m => m.LASTACTIONTYPE, null, new { @class = "alert alert-danger display" })
                                                </div>
                                                <label class="col-md-2 control-label">Assign Group </label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(m => m.ASSIGNGROUP, (IEnumerable<SelectListItem>)ViewBag.AssignGroupList, "Select", new { @class = "form-control", id = "ddlAsgnGroup" })
                                                    @Html.HiddenFor(m => m.ASSIGNGROUP)
                                                    @Html.ValidationMessageFor(m => m.ASSIGNGROUP, null, new { @class = "alert alert-danger display" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Action Details</label>
                                                <div class="col-md-10">
                                                    @Html.TextAreaFor(m => m.LASTACTIONDETAILS, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            @*<div class="form-actions">
                                                <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn green" name="btnName" value="create" id="createBtn">Create</button>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_attach">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Add Files</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <span class="btn green fileinput-button">
                                                <input id="ctrlFile" name="ctrlFile" type="file" multiple class="file-loading" data-preview-file-type="any" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<div id="stackModDetailInfo" class="modal fade stack" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Customer Previous Request List </h4>
            </div>
            <div class="modal-body">
                <div id="CustReqHistory" style="overflow: scroll;">

                </div>
            </div>
        </div>
    </div>
</div>
